<nav class="navbar">
  <div class="nav-title">
    <!--  img tag for the logo next to the title -->
    <img [src]="logoUrl" alt="Monopoly Solutions Logo" class="navbar-logo">
    <a (click)="navigateTo('/')"></a>
  </div>
  <div class="nav-links">
    <a (click)="navigateTo('/inventory')">Inventory</a>
    <a (click)="navigateTo('/orders')">Orders</a>
    <a (click)="navigateTo('/agencies')">Agencies</a>
    <div class="dropdown">
      <button class="dropbtn">Account</button>
      <div class="dropdown-content">
        <a (click)="navigateTo('/login')">Login</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
