<nav class="navbar">
  <div class="nav-title">
    <a (click)="navigateTo('/')">Renee's Photos</a>
  </div>
  <div class="nav-links">
    <a (click)="navigateTo('/')">Home</a>
    <a (click)="navigateTo('/blog')">Blog</a>
    <a (click)="navigateTo('/admin')">Admin</a>
    <div class="dropdown">
      <button class="dropbtn">Account</button>
      <div class="dropdown-content">
        <a (click)="navigateTo('/login')">Login/Register</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
