.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2C3E50; /* Darker shade for a sleek look */
  color: white;
  padding: 10px 20px;
}

.navbar-logo {
  height: 40px;
  width: auto; /* Maintain aspect ratio */
  margin-right: 15px; /* Adjusted margin for logo spacing */
}

.nav-title a {
  color: white;
  font-size: 20px; /* Adjusted for a sleeker look */
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px; /* Provides uniform spacing between links and dropdowns */
}

.nav-links a, .dropbtn {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 15px; /* Uniform padding for a sleek appearance */
  font-size: 16px; /* Font size adjusted for modern look */
  background-color: transparent; /* Transparent background for a modern, sleek look */
  border: none;
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #34495E; /* Darker background for dropdown for modern look */
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #5D6D7E; /* Lighter shade for hover effect */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #2C3E50; /* Background color on hover for the button */
}

/* Hover effect for dropdown button and links for visual feedback */
.dropbtn:hover, .nav-links a:hover {
  background-color: #1A252F; /* Slightly lighter than navbar for distinction */
  border-radius: 5px; /* Rounded corners for a modern touch */
}
