<div class="table-container">
  <div class="mat-elevation-z8">

    <!-- Button to create a new agency -->
    <div class="create-agency-action" *ngIf="!isEmployee">
      <button mat-raised-button color="accent" (click)="createAgency()">Create Agency</button>
    </div>

    <h1 class="table-header">Agencies</h1>

    <table mat-table [dataSource]="agencies" class="mat-elevation-z8">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let agency"> {{ agency.id }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let agency"> {{ agency.name }} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let agency"> {{ agency.email }} </td>
      </ng-container>

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let agency"> {{ agency.username }} </td>
      </ng-container>

      <!-- Level Column -->
      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> Level </th>
        <td mat-cell *matCellDef="let agency"> {{ agency.level }} </td>
      </ng-container>

      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let agency" [ngClass]="{
              'role-admin': agency.role === 'ADMIN',
              'role-distributor': agency.role === 'DISTRIBUTOR',
              'role-retailer': agency.role === 'RETAILER',
              'role-employee': agency.role === 'EMPLOYEE'
            }">{{ agency.role }}</td>
      </ng-container>


      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let agency">
          <mat-icon *ngIf="!isEmployee" color="primary" (click)="editAgency(agency)" class="action-icon">edit</mat-icon>
          <mat-icon *ngIf="!isEmployee" color="warn" (click)="deleteAgency(agency.id)" class="action-icon">delete</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="blocked" class="blocked-container">
        <th mat-header-cell *matHeaderCellDef class="blocked-header"> Blocked </th>
        <td mat-cell *matCellDef="let agency" class="cell-action">
          <mat-icon *ngIf="agency.blocked && !isEmployee" color="warn" (click)="unblockAgency(agency.id)" class="block-icon">cancel</mat-icon>
          <button *ngIf="!agency.blocked && !isEmployee" color="warn" mat-button (click)="blockAgency(agency.id)" class="block-button">Block</button>
        </td>
      </ng-container>


      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
    (page)="changePage($event)"></mat-paginator>
</div>
