.table-container {
  display: flex;
  flex-direction: column; /* Ensures vertical stacking */
  align-items: center; /* Centers children horizontally */
  width: 100%;
}

.table-header {
  text-align: center;
  margin-bottom: 20px; /* Adjust spacing between the header and the table */
}

.mat-elevation-z8 {
  width: 100%; /* Ensures the table container uses the full width */
  overflow-x: auto; /* Keeps table scrollable horizontally */
}

table {
  margin: 20px auto; /* Adds margin on top and centers the table horizontally */
  width: 95%; /* Adjust based on your layout needs */
}

th.mat-header-cell, td.mat-cell {
  padding-right: 64px; /* Adjusts spacing between columns, can be tweaked */
}

mat-paginator {
  width: 100%; /* Ensures paginator uses the full width of its container */
  padding: 20px; /* Adds some spacing around the paginator */
}

.create-agency-action{
  margin-bottom: 3%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-icon {
  cursor: pointer;
  margin-right: 10px; /* Increase the right margin */
}


.cell-action {
  text-align: center;
}

.blocked-header {
  text-align: center;
}

.blocked-container {
  text-align: center;
}

.action-icon, .block-icon {
  cursor: pointer;
}

.block-button {
  /* margin: 0 auto; */
  display: inline-block;
}
