.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.logo-img {
  max-width: 400px; /* Adjust the logo size */
  margin-bottom: 10%; /* Increase space between logo and form */
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50%;
  width: 100%; /* Makes the container responsive */
}

/* Additional styling for improved layout and responsiveness */
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensures the login page takes up the full viewport height */
  background-color: #2C3E50; /* Background color matching the navbar */
}

/* Ensure form fields and buttons fit well within the container */
mat-form-field, .login-button {
  width: 100%; /* Ensures form fields and buttons expand to fill the container */
}

/* Enhances the appearance of the login button */
.login-button {
  margin-top: 20px; /* Adds some space above the login button */
}

/* Style for the login and register buttons */
.login-button, .register-button {
  color: white; /* Adjust text color as needed */
  border: none; /* Remove border if any */
}

/* Change color on hover */
.login-button:hover, .register-button:hover {
  background-color: rgb(64, 126, 113); /* Slightly darker shade for hover effect */
}

/* Targeting the mat-card within the login-form-container */
.login-form-container mat-card {
  background-color: #2C3E50; /* Setting the background color to match the main background */
  color: white; /* Changing text color to white for better visibility */
}

/* Styling the mat-form-field label and input text to white for visibility */
::ng-deep .login-form-container mat-form-field .mat-form-field-label,
::ng-deep .login-form-container mat-form-field .mat-input-element {
  color: white; /* Makes the text color white */
}

/* Changing the mat-form-field underline and placeholder to white */
::ng-deep .login-form-container mat-form-field.mat-focused .mat-form-field-ripple,
::ng-deep .login-form-container mat-form-field.mat-focused .mat-form-field-label {
  color: white; /* Changes to white when the field is focused */
}

/* Adjusting the mat-icon color to white for visibility */
::ng-deep .login-form-container mat-icon {
  color: white;
}

/* Styling the login button to better match the theme */
.login-button {
  /* background-color: rgb(64, 126, 113); */
  color: white; /* Button text color */
}

/* Optionally, if you want the card to have no elevation/shadow */
::ng-deep .login-form-container mat-card {
  box-shadow: none; /* Removes the shadow */
}


/* Hide the browser's default password reveal icon */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* For Chrome's autofill feature */
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  position: absolute;
  right: 0;
}

