<div class="table-container">
  <div class="mat-elevation-z8">
    <h1 class="table-header">Orders</h1>

    <div class="create-order-action">
      <button mat-raised-button color="accent" (click)="createOrder()">Create Order</button>
    </div>


    <div class="filter-container">
      <mat-form-field appearance="fill" class="search-field">
        <mat-label>Search Orders</mat-label>
        <input matInput (input)="applyFilter($event)">
      </mat-form-field>

      <mat-form-field appearance="fill" class="status-field">
        <mat-label>Status</mat-label>
        <mat-select (selectionChange)="filterStatus($event.value)">
          <mat-option *ngFor="let status of statusOptions" [value]="status">
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="filter-actions">
        <button mat-raised-button color="primary" (click)="clearFilters()">Clear Filters</button>
      </div>

    </div>



    <table mat-table [dataSource]="orders" class="mat-elevation-z8">

      <!-- Information Group -->
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef> Info </th>
        <td mat-cell *matCellDef="let order">
          <div><strong>Company:</strong> {{order.companyName}}</div>
          <div><strong>Name of Recipient:</strong> {{order.nameOfRecipient}}</div>
          <div><strong>Phone:</strong> {{order.phoneNumber}}</div>
          <div><strong>Email:</strong> {{order.email}}</div>
          <div><strong>Address:</strong> {{order.address}}</div>
          <div><strong>City:</strong> {{order.city}}</div>
          <div><strong>State:</strong> {{order.state}}</div>
          <div><strong>Zip Code:</strong> {{order.zipCode}}</div>
          <div><strong>Order Date:</strong> {{order.date | date:'mediumDate'}}</div>
        </td>
      </ng-container>

      <!-- ETC Name -->
      <ng-container matColumnDef="etcName">
        <th mat-header-cell *matHeaderCellDef> ETC Name </th>
        <td mat-cell *matCellDef="let order"> {{order.nameETC}} </td>
      </ng-container>

      <!-- Ordered Quantity -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Ordered Quantity </th>
        <td mat-cell *matCellDef="let order"> {{order.quantity}} </td>
      </ng-container>

      <!-- Status And Tracking Number -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status / Tracking Number </th>
        <td mat-cell *matCellDef="let order">
          {{order.status}}
          <div *ngIf="order.status === 'SHIPPED'">
            <br>
            <strong>Tracking Number:</strong>
            <input id="trackingNumber" matInput placeholder="Tracking Number" [(ngModel)]="order.trackingNumber"
              (blur)="updateTrackingNumber(order)" />
          </div>
        </td>
      </ng-container>

      <!-- Notes -->
      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef> Note </th>
        <td mat-cell *matCellDef="let order"> {{order.notes}} </td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let order">
          <button mat-button color="primary" (click)="editOrder(order)">Edit</button>
          <button mat-button color="accent" *ngIf="order.status !== 'APPROVED' && order.status !== 'SHIPPED'"
            (click)="approveOrder(order)">Approve</button>
          <button mat-button color="warn" *ngIf="order.status === 'APPROVED' || order.status === 'NEW'"
            (click)="denyOrder(order)">Deny</button>
        </td>
      </ng-container>


      <!-- Table Headers and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
      (page)="changePage($event)">
    </mat-paginator>
  </div>
</div>
