.table-container {
  display: flex;
  flex-direction: column; /* Ensures vertical stacking */
  align-items: center; /* Centers children horizontally */
  width: 100%;
}

.table-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; /* Adjust spacing between the header and the table */
}

.mat-elevation-z8 {
  width: 100%; /* Ensures the table container uses the full width */
  overflow-x: auto; /* Keeps table scrollable horizontally */
}

table {
  margin: 20px auto; /* Adds margin on top and centers the table horizontally */
  width: 95%; /* Adjust based on your layout needs */
}

th.mat-header-cell, td.mat-cell {
  padding-right: 64px; /* Adjusts spacing between columns, can be tweaked */
}

mat-paginator {
  width: 100%; /* Ensures paginator uses the full width of its container */
  padding: 20px; /* Adds some spacing around the paginator */
}

.full-width-input {
  width: 100%;
  margin-bottom: 16px; /* Adds space between form fields */
}

.inventory-page-container {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.inventory-form {
  display: flex;
  flex-direction: column;
}

.phone-input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-end; /* Ensure alignment is consistent */
}

.additional-fields {
  width: 100%; /* Take full width to ensure it sits below other fields */
  display: flex;
  justify-content: space-between; /* Space out the inputs */
  margin-top: 20px; /* Add some space above the new fields */
}

.input-field, .additional-fields .input-field {
  flex: 1;
  min-width: 200px; /* Ensure inputs do not become too narrow */
}

.delete-button {
  margin-top: 20px; /* Align with form fields */
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
